@font-face {
  font-family: 'Rubic';
  src: url('fonts/rubik-v19-latin_hebrew-regular.woff2') format('woff2'),
  url('fonts/rubik-v19-latin_hebrew-regular.woff') format('woff');
}

html{
  font-family: "Rubic";
}

body {
  margin: 0;
  font-family: "Rubic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
